body {
    background-color: black;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}

#display-container {
    height: 5rem;
    border: 1px solid black;
    margin-bottom: 8px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
}

#history {
    font-size: 16px;
    text-align: right;
    padding-right: 14px;
    font-family: 'Roboto', sans-serif;
}

#display {
    background-color: aliceblue;
    text-align: right;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

button {
    width: 5rem;
    height: 5rem;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

#container-main {
    padding: 10px;
    background-color: lightgrey;
    border: 2px solid gray;
    display: inline-block;
    border-radius: 10px;
}

.nums {
    background-color: rgb(48, 44, 44);
    color: whitesmoke;
}

#equals {
    background-color: midnightblue;
    color: whitesmoke;
}

#clear {
    width: 165px;
    height: 2rem;
    background-color: midnightblue;
    color: whitesmoke;
}

#backspace {
    width: 165px;
    height: 2rem;
    background-color: midnightblue;
    color: whitesmoke;
}